.cards {
    display: block;
    padding: 24px 20px;
    margin-top: 0;
    margin-bottom: 0;
    outline: 2px solid $technical-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
}

.cards__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $text-color;
    margin-top: 0px;
    margin-bottom: 4px;
}

.cards__text {
    font-size: 16px;
    line-height: 1.8;
    color: $text-color-p;
    letter-spacing: 0.03em;
    margin: 0px;
}