/* ============================ cection-2================= */
.description {
    @import './utils/flex-wrap';
    margin: 0 0 0 -30px;
    padding: 0px;
    &>.description__items {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
}
}

.hidden-visally {
    position: fixed;
    transform: scale(0);
    & .description__text {
    color: $secondory-text-color;
    margin-top: 0;
    font-size: 14px;
    line-height: 1.7;
}
}

.description__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color;
    margin-bottom: 10px;
}

.description__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $text-color-p;
    margin-top: 0;
}

.description__icones {
    height: 120px;
    margin-bottom: 30px;
    background-color: $icone-bg-color;
    @import './utils/flex-center';
    }

.description__icone {
    background-color: $icone-bg-color;
}