/* ====================== clients =======================================*/

.clients {
    @import './utils/flex-wrap';
    justify-content: center;
    column-gap: 30px;
    & .item {
    flex-basis: calc((100% - 150px) / 6);
}
    &>.icones {
    display: flex;
    align-self: center;
    width: 170px;
    height: 92px;
}
}

.clients__links {
    @import './utils/flex-center';
    height: 92px;
    color: $icone-color;
    fill: currentColor;
    border: 1px solid $icone-color;
    border-radius: 4px;
    outline: 2px solid $technical-color;
    transition: fill 250ms $timing-functione, border-color 250ms $timing-functione;
    &:hover,
    &:focus {
    fill: $beckground-color;
    border-color: $beckground-color;
}
}


